[submodule "Packages/jp.keijiro.danish-statues"]
	path = Packages/jp.keijiro.danish-statues
	url = git@github.com:keijiro/DanishStatues.git
	branch = upm
[submodule "Packages/jp.keijiro.klak"]
	path = Packages/jp.keijiro.klak
	url = git@github.com:keijiro/Klak.git
	branch = upm
[submodule "Packages/jp.keijiro.three-d-scans"]
	path = Packages/jp.keijiro.three-d-scans
	url = git@github.com:keijiro/ThreeDScans.git
	branch = upm
